@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li,ul{
    list-style: none;
}

/* popup */
.popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    min-height: 300px;
    background-color: #f8f8f8;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    z-index: 50;
    box-shadow: 1px 1px 1px 1px #000;
}
.popup h1{
    font: bold 27px/1 'arial';
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.popup p{
    font: 14px/1.4 'arial';
    color: #333;
    margin-bottom: 20px;
}
.popup button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #444;
    padding: 5px 10px;
    cursor: pointer;
    color: #eee;
}

/*header*/
header{
    width: 100%;
    height: 100px;
}
header .inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    
    position: relative;
}
header .inner h1{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
header .inner .wrap #gnb{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 10;
}
header .inner .wrap #gnb li{
    float: left;
    position: relative;
}
header .inner .wrap #gnb>li>a{
    display: block;
    width: 150px;
    height: 50px;
    font: bold 15px/50px 'arial';
    color: #222;
    text-align: center;
    border-left: solid 1px orange;
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;
}
header .inner .wrap #gnb>li>a:hover{
    background-color: orange;
    color: #f8f8f8;
}
header .inner .wrap #gnb>li>a.on{
    background-color: orange;
    color: #f8f8f8;
}
header .inner .wrap #gnb .sub{
    position: absolute;
    top: 50px;
    display: none;
}

header .inner .wrap #gnb .sub li a{
    display: block;
    width: 150px;
    height: 50px;
    background-color: #eee;
    font: normal 12px/50px 'arial';
    text-align: center;
    color: #555;
    border-bottom: solid 1px #ffffff;
    border-left: solid 1px lightsalmon;
}
header .inner .wrap #gnb .sub li a:hover{
    background-color: lightsalmon;
    color: #f8f8f8;
}

/* slide 영역*/

#slide{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
#slide .frame{
   height: 900px;
   position: relative;
}

/* contentBox*/
#contentBox{
    width: 100%;
    margin-bottom: 50px;
}
#contentBox .inner{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NGboard{
    flex: 1;
    height: 200px;
    overflow: hidden;
}
.NGboard .tab{    
    display: flex;
    width: 100%;
    height: 50px;
}
.NGboard .tab li{
    width: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.NGboard .tab li:last-child{
    margin-left: 0;
}
.NGboard .tab li a{
    font: bold 15px/1 'arial';
    color: #fff;
}
.NGboard .tab li:nth-of-type(1) a{
    border-right: none;
}

.NGboard .tab li.on{
    background-color: #fff;
}
.NGboard .tab li.on a{
    color: #333;
}
.content{
    width: 100%;
    height: 150px;
    position: relative;
}
.content div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    z-index: 1;
}
.content div.on{
    opacity: 1;
    z-index: 2;
}
#notice{
    justify-content: flex-start;
}
#notice>ul{  
    width: 100%;
}
#notice>ul>li{
    display: flex;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
}
#notice>ul>li a{
    font: 13px/30px '맑은 고딕';
    color: #333;
    margin-left: 10px;
}

#notice>ul>li span{
    font: 10px/30px 'arial';
    margin-right: 10px;
}

#notice>ul>li:hover{
    background-color: #ddd;
}
/* banner */
.banner{
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.baro{
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.baro a{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

/* footer */
footer{
    width: 100%;
    background-color: #eee;
    padding: 20px 0;
    
}
footer .inner{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .inner .logo{
    display: flex;
    justify-content: center;
    flex: 1;
}
footer .inner .copyright{
    flex: 5;
    text-align: center;
    
}
footer .inner .copyright span{
    font: bold 12px/1 'arial';
    color: #333;
}
footer .inner .sns{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}